@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";

/*
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
*/

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--quaternary-color, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #4b0082;
  --primary-color: #8a2be2;
  --secondary-color: #ff00ff;
  --tertiary-color: #ff69b4;
  --quaternary-color: #87ceeb;
  --quinary-color: #ffa500;
  --senary-color: #ffd700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4b0082;
    --foreground: #ededed;
    --primary-color: #8a2be2;
    --secondary-color: #ff00ff;
    --tertiary-color: #ff69b4;
    --quaternary-color: #87ceeb;
    --quinary-color: #ffa500;
    --senary-color: #ffd700;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.inverted-color {
  background-color: var(--foreground);
  color: var(--background);
}

/* Styles for the responsive menu */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--foreground);
  color: var(--background);
  text-align: center;
  padding: 0;
  z-index: 1000;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--background);
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--foreground);
  color: var(--background);
  text-align: center;
  padding: 5px 0;
}

/* Calendar */
.rbc-toolbar button {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

.rbc-toolbar button:hover {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
}

.rbc-toolbar button.rbc-active {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
}

.rbc-event.rbc-selected {
  background-color: var(--quaternary-color) !important;
  color: #4b0082 !important;
}

.rbc-event {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
}

.rbc-time-view .rbc-event-label {
  display: none;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-title {
  margin-bottom: 1em;
  text-align: center;
  @apply text-3xl;
}

.modal-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply text-sm;
}

.modal-section-title {
  font-weight: bold;
}

.modal-section-content {
  font-style: italic;
}

.modal-divider {
  margin: 1em 0;
}

.modal-description {
  text-align: left;
  text-indent: 1em;
  @apply text-lg;
}
